$primary: #391EF9;
$primary-dark: #2612B1;
$primary-50: rgba(#2612B1,0.5);
$secondary: #07F49B;
$secondary-dark: #05BF79;
$secondary-50: rgba(#05BF79,0.5);
$white: #fff;
$white2: #FAFAFA;
$gray2: #DBDFEB;
$gray3: #A6AEBE;
$text-gray: #6F6F82;
$text-main: #222350;
$borders: #2C2D5E;
$black: #000000;